
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard_shown {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-section {
    padding: 50px;
    border: 1px solid black;
}

.player-choice {
    transition: none;
    visibility: hidden;
    
}

.show-player-choice {
    visibility: visible;
    display: flex;
    
}

.player-choice > button {
    margin: 0 10px;
}

.game_controller {
    display: flex;
    padding: 30px 0;
}
